<div id="wrapper">
    <h1>Need Thoughts?</h1>
    <h2>
        <button id="scraper" class="btn btn-primary">New ShowerThoughts</button>  <button id="list" class="btn btn-success">List</button>
    </h2>
    <div id="thoughts"></div>
    <div id="notes"></div>
</div>