<div id="wrapper">
    <h1>New Thoughts?</h1>
    <h2>
        <i><button id="scraper" class="btn btn-primary">Shower</button></i>
    </h2>
    <div id="articles"></div>
    <div id="notes"></div>
</div>